body {
  background-color: #ddd;
}

.container {
  width: 70%;
  margin: auto;
}

.header {
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Arial';
}

#board {
  width: 80%;
  margin: auto;
  padding: 20px;
}



.turn {
  width: 100%;
  text-align: center;
  font-style: italic;
  
}